@talent-monk:registry=https://pkgs.dev.azure.com/talentmonk/compenly/_packaging/compenly-backend-v2/npm/registry/ 

always-auth=true
; begin auth token
//pkgs.dev.azure.com/talentmonk/compenly/_packaging/compenly-backend-v2/npm/registry/:username=talentmonk
//pkgs.dev.azure.com/talentmonk/compenly/_packaging/compenly-backend-v2/npm/registry/:_password=NWx5cTVqa21qb2pwaGtncW1sNmczZGplZTM1ZHlpdmZ1eDZ5amJ0ZW5hb2U3cXd0Y2dmYQ==
//pkgs.dev.azure.com/talentmonk/compenly/_packaging/compenly-backend-v2/npm/registry/:email=mukul.singh@talentmonk.com
//pkgs.dev.azure.com/talentmonk/compenly/_packaging/compenly-backend-v2/npm/:username=talentmonk
//pkgs.dev.azure.com/talentmonk/compenly/_packaging/compenly-backend-v2/npm/:_password=NWx5cTVqa21qb2pwaGtncW1sNmczZGplZTM1ZHlpdmZ1eDZ5amJ0ZW5hb2U3cXd0Y2dmYQ==
//pkgs.dev.azure.com/talentmonk/compenly/_packaging/compenly-backend-v2/npm/:email=mukul.singh@talentmonk.com
; end auth token